<h4 class="fw-bolder ms-3 mt-3">user Id: admin@demoapp.com </h4>
<h4 class="fw-bolder ms-3 mt-3">Password: demoapp123 </h4>

<div
  style="width: 100%; height: 80vh"
  class="d-flex justify-content-center align-items-center"
>
  <div
    style="width: 900px"
    class="shadow bg-black row rounded p-5 align-items-center"
  >
  
    <div class="col-lg-6">
      <img
        class="container"
        src="https://www.1stop.ai/images/login-bg.png"
        alt=""
      />
    </div>
    <div class="col-lg-6">
      <form #loginForm="ngForm" class="border p-5 rounded" (ngSubmit)="login()">
        <h1 class="fw-bolder mb-5 text-light">Login Form</h1>
        <div class="form-floating mb-3">
          <input
            name="email"
            [(ngModel)]="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example@gmail.com"
            email
            required
            #userEmailInput="ngModel"
          />
          <label for="floatingInput">Email Address</label>
        </div>
        <!-- invalid email -->
        <div *ngIf="userEmailInput.invalid && userEmailInput.touched" class="text-danger mb-3">
            *Invalid Email
        </div>
        <div class="form-floating mb-3">
          <input
            name="password"
            [(ngModel)]="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            pattern="[a-zA-Z0-9]*"
            minlength="3"
            required
            #userPswdInput="ngModel"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div *ngIf="userPswdInput.invalid && userPswdInput.touched" class="text-danger mb-3">
            *Invalid Password
        </div>
        <div>
          <button type="submit" [disabled]="loginForm.invalid && loginForm.touched" class="btn btn-dark">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
